STEAM_USER=
STEAM_PASSWORD=

DEBIAN_FRONTEND=noninteractive
TZ=Asia/Manila
PZ_DIR=/pzserver
STEAMCMDDIR=/steamcmd
PZ_USER=pzuser
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
SERVER_NAME=tambay_server
ADMIN_PASSWORD=tambay_password
